<!DOCTYPE html>
<html lang='en' class='notranslate' translate='no'>
    <head>
      <meta charset='UTF-8'>
      <meta name='google' content='notranslate' />
      <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no' />
      <meta name="author" content="Charmaine Chui" />
      <meta name="description" content="A GIS web application to showcase transportating routing in Singapore.">
      <meta name="subject" content="Transportation Routing in Singapore" />
      <meta name="keywords" content="data analytics, geospatial analytics, gis, route optimisation, transportation api, web application, programmer" />

      <meta http-equiv='Content-Language' content='en' />
      <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />

      <meta name='msapplication-TileColor' content='#ffffff' />
      <meta name='theme-color' content='#ffffff' />
      <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
      <meta name='apple-mobile-web-app-capable' content='yes' />
      <meta name='mobile-web-app-capable' content='yes' />
      <meta name='HandheldFriendly' content='True' />
      <meta name='MobileOptimized' content='320' />

      <link rel="apple-touch-icon" sizes="76x76" href="img/favicon-76.png">
      <link rel="apple-touch-icon" sizes="120x120" href="img/favicon-120.png">
      <link rel="apple-touch-icon" sizes="152x152" href="img/favicon-152.png">
      <link rel="icon" sizes="196x196" href="img/favicon-196.png">
      <link rel="icon" type="image/x-icon" href="img/favicon.ico">

      <link href='css/bootstrap-4.5.2.min.css' rel='stylesheet' type='text/css' />
      <link href='css/offcanvas.css' rel='stylesheet' type='text/css' />
      <link rel="stylesheet" href="css/leaflet-1.3.1.css" />
      <link rel="stylesheet" href="css/custom.css" />
      <title>SG Transportation Routing</title>
      <noscript>You need to enable JavaScript to run this app.</noscript> 
  </head>
  <body>
    <button id='loaderSignal' class='btn btn-sm btn-default p-0' disabled><span class='spinner-border spinner-border-sm m-1'></span><small>Loading…</small></button>

  <nav id='searchbar' class='p-1 rounded-sm'>
    <div style='box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;'>
      <div class='ml-1 mr-1 mb-1 mt-2 text-center float-left'>
        <a class='navbar-brand m-0 p-0'></a>
        <p class='mb-0 p-0'><small class='unicode'>sɢᴿᵒᵘᵗᵉʳ</small></p>
      </div>
      <div class='m-1 text-center float-left'>
        <button id='resetMapBtn' type='button' class='btn btn-sm btn-outline-danger rounded-circle m-1 navBtn text-center symbol'>↺</button>
        <p class='mb-0 p-0'><small class='unicode text-danger'>ᴿᵉˢᵉᵗ</small></p>
      </div>
      <div class='m-1 text-center float-left'>
        <button id="exportBtn" type='button' class="btn btn-sm btn-outline-dark rounded-circle m-1 navBtn text-center symbol">💾</button>
        <p class='mb-0 p-0'><small class='unicode text-dark'>ᴱˣᵖᵒʳᵗ</small></p>
      </div>
      <div class='m-1 text-center float-left'>
        <button id="speakBtn" type='button' class="btn btn-sm btn-outline-info rounded-circle m-1 navBtn text-center symbol">🔊</button>
        <p class='mb-0 p-0'><small class='unicode text-info'>ⱽᵒⁱᶜᵉ</small></p>
      </div>
      <div class='m-1 text-center float-right'>
        <button id="toggleInfoPanel" type="button" class="btn btn-sm btn-outline-primary rounded-circle m-1 navBtn text-center symbol">◭</button>
        <p class='mb-0 p-0'><small class='unicode text-primary'>ᵀᵒᵍᵍˡᵉ</small></p>
      </div>
    </div>

    <div id='sidebar-wrapper' class="w-100 h-100">
        <div id='navbarTop' class='w-100 p-1 m-0 border'>
          <table class='table border-0 w-100 mb-1 mt-0'>
              <tr class='user-select-none'><td colspan='3' class="text-center border-0 pl-0 pr-0 pt-0 pb-1"></td></tr>
            <tr>
              <td colspan='3' class="text-center border-0 p-0">
                <div class='row no-gutters'>
                    <div class='col-4 pl-1 pr-1'>
                      <button type="button" id="routeType0" class="btn btn-sm btn-outline-primary rounded-pill pt-1 pb-1 pr-2 pl-2 routeType w-100 active" name="routeType" value="0"><svg class="selection-side-icon icon icon-car"><use xlink:href="symbol-defs.svg#icon-car"></use></svg> <span class="text-no-break-space small"><small class='symbol'>Drive</small></span></button>
                    </div>  
                  <div class='col-4 pl-1 pr-1'>
                    <button type="button" id="routeType1" class="btn btn-sm btn-outline-primary rounded-pill pt-1 pb-1 pr-2 pl-2 routeType w-100" name="routeType" value="1"><svg class="selection-side-icon icon icon-walk"><use xlink:href="symbol-defs.svg#icon-walk"></use></svg> <span class="text-no-break-space small"><small class='symbol'>Walk</small></span></button>
                  </div>  
                  <div class='col-4 pl-1 pr-1'>
                    <button type="button" id="routeType2" class="btn btn-sm btn-outline-primary rounded-pill pt-1 pb-1 pr-2 pl-2 routeType w-100" name="routeType" value="2"><svg class="selection-side-icon icon icon-bicycle"><use xlink:href="symbol-defs.svg#icon-bicycle"></use></svg> <span class="text-no-break-space small"><small class='symbol'>Cycle</small></span></button>
                  </div>  
                </div>  
              </td>
            </tr>
            <tr class='user-select-none'><td colspan='3' class="text-center border-0 pl-0 pr-0 pt-1 pb-0"></td></tr>
             <tr>
              <td colspan='2' class='text-center border-0 p-0'>
                <form onsubmit='return!1' class='pure-form mb-1 mt-1'>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><img src='img/origin.png' alt='origin marker' style='height: 1rem' /></span>
                        </div>
                        <input id='geocoder_o' type='text' class='form-control border-left-0' name='geocoder_o' placeholder='Search Origin...' />
                    </div>
                </form>
                
                <form onsubmit='return!1' class='pure-form mb-1 mt-1'>
                   <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><img src='img/destination.png' alt='destination marker' style='height: 1rem' /></span>
                      </div>
                      <input id='geocoder_d' type='text' class='form-control' name='geocoder_d' placeholder='Search Destination...' />
                  </div>
                </form>
              </td>
              <th class='text-center border-0 pl-0 pr-0'>
                <button type='button' id="switch_origin_destination" class="btn btn-sm btn-dark text-light rounded-circle m-1 navBtn text-center symbol">⇵</button>
              </th>
            </tr>
            <tr class='user-select-none'><td colspan='3' class="text-center border-0 pl-0 pr-0 pt-0 pb-1"></td></tr> 
            <tr class='user-select-none'>
                <td colspan='3' class="text-center border-0 p-0">
                  <div class='row no-gutters'>
                    <div class='col-4 pl-1 pr-1'>
                      <button type="button" id="serviceProvider0" class="btn btn-sm btn-outline-primary rounded-pill pt-1 pb-1 pr-2 pl-2 serviceProvider w-100 active" name="serviceProvider" value="OneMap"><svg class="selection-side-icon icon icon-onemap"><use xlink:href="symbol-defs.svg#icon-onemap"></use></svg> <span class="text-no-break-space small"><small class='symbol'>One Map</small></span></button>
                    </div>
                    <div class='col-4 pl-1 pr-1'>
                      <button type="button" id="serviceProvider1" class="btn btn-sm btn-outline-primary rounded-pill pt-1 pb-1 pr-2 pl-2 serviceProvider w-100" name="serviceProvider" value="Graphhopper"><svg class="selection-side-icon icon icon-graphhoper"><use xlink:href="symbol-defs.svg#icon-graphhoper"></use></svg> <span class="text-no-break-space small"><small class='symbol'>Graphhoper</small></span></button>
                    </div>
                    <div class='col-4 pl-1 pr-1'>
                      <button type="button" id="serviceProvider2" class="btn btn-sm btn-outline-primary rounded-pill pt-1 pb-1 pr-2 pl-2 serviceProvider w-100" name="serviceProvider" value="HERE"><svg class="selection-side-icon icon icon-here"><use xlink:href="symbol-defs.svg#icon-here"></use></svg> <span class="text-no-break-space small"><small class='symbol'>HERE</small></span></button>
                    </div>
                  </div>
                </td>
            </tr>


          </table>
        </div><!--//navbarTop-->

        <div id='navbarToggler' class="w-100 p-1 m-0 user-select-none">
          <ul class='navbar-nav'>
            <li class='nav-item pl-1 pr-1 pb-1 pt-1'>
              <table class='w-100'>
                <tr>
                  <td colspan='4'>
                    <div id='route_options' class='small pl-1 pr-1'></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button id='route_instructions_btn' type='button' class="btn btn-sm btn-light rounded-circle m-1 navBtn text-center emoji" data-toggle="popover" data-title="Route Navigation" data-dismissible="true" data-placement="right" data-content="<div id='route_instructions' class='small user-select-none'></div>">🚧</button>
                  </td>
                  <td colspan='3'>
                    <div id='route_info' class='small'></div>
                  </td>
                </tr>
                <tr>
                  <td colspan='4'>
                    <div id='route_instructions_hidden'></div>
                    <p class='midCaption text-no-break-space text-left text-dark symbol mb-0 small'><span class='emoji'>🚦</span> Navigation Route</p>
                    <hr class='border-0'>
                    <div id="routeIntructionsCarousel" class="carousel slide small" data-ride="carousel" data-interval="5000" data-touch="true"></div>
                  </td>
                </tr>
              </table>
            </li>
            <li class='nav-item pl-1 pr-1 pb-1 pt-1'>

              <div id='creditsSegment' class="user-select-none w-100 rounded-0 border-0">
                <p id='creditsTitle' class='text-no-break-space text-left text-dark symbol mb-0'><span class="emoji">❤️</span> <span class='pl-1'>Credits & Acknowledgements</span></p>

                <p class='midCaption text-no-break-space text-left text-dark symbol mb-0 small'>▷ Routing APIs</p>
                <div class='row no-gutters'>
                  <div class='col-4 text-center text-no-break-space small'>
                    <svg class='selection-side-icon icon icon-onemap'><use xlink:href='symbol-defs.svg#icon-onemap'></use></svg><span class='small'> <a href='https://www.onemap.gov.sg/docs/#onemap-rest-apis' target='_blank'>OneMap</a></span>
                  </div>
                  <div class='col-4 text-center text-no-break-space small'>
                    <svg class='selection-side-icon icon icon-graphhoper'><use xlink:href='symbol-defs.svg#icon-graphhoper'></use></svg> <span class='small'><a href='https://graphhopper.com/maps/' target='_blank'>Graphhopper</a></span>
                  </div>
                  <div class='col-4 text-center text-no-break-space small'>
                    <svg class='selection-side-icon icon icon-here'><use xlink:href='symbol-defs.svg#icon-here'></use></svg> <span class='small'><a href='https://www.here.com/platform/routing' target='_blank'>HERE</a></span>
                  </div>
                </div>
                <hr>
                <p class='midCaption text-no-break-space text-left text-dark symbol mb-0 small'>▷ Geocoding Services</p>
                <div class='row no-gutters'>
                  <div class='col-6 text-center text-no-break-space small'>
                    <svg class='selection-side-icon icon icon-opencage'><use xlink:href='symbol-defs.svg#icon-opencage'></use></svg> <span class='small'><a href='https://opencagedata.com/credits' target='_blank'>OpenCage</a></span>
                  </div>
                  <div class='col-6 text-center text-no-break-space small'>
                    <svg class='selection-side-icon icon icon-onemap'><use xlink:href='symbol-defs.svg#icon-onemap'></use></svg> <span class='small'><a href='https://www.onemap.gov.sg/docs/#onemap-rest-apis' target='_blank'>OneMap </a>by <a href='http://SLA.gov.sg' target='_blank'><abbr title='Singapore Land Authority'>SLA</abbr></a></span>
                  </div>
                </div>
                <hr>
                <div class='row no-gutters'>
                  <div class='col-12 small'>
                    <small>© Powered by <a href='https://leafletjs.com/SlavaUkraini/reference.html' target='_blank'><svg class='selection-side-icon icon icon-leaflet'><use xlink:href='symbol-defs.svg#icon-leaflet'></use></svg> Leaflet</a> | © <a href='https://carto.com/attributions' target='_blank'> CARTO</a> by <a href='http://www.openstreetmap.org/copyright' target='_blank'>OpenStreetMap</a></small>
                  </div>
                </div>
                <hr>
                <div class='row no-gutters'>
                  <div class='col-12 small'>
                    <small><span class='symbol mr-1'>─</span>Created by <a href='https://geek-cc.medium.com/' target='_blank'>the Girl with a ribbon</a><span class='ml-1 mr-1 text-no-break-space'><span class='symbol'>ξ(</span><span class='emoji'>🎀</span><span class='symbol'>˶❛◡❛)</span></small>
                  </div>
                </div>
              </div><!-- creditsSegment -->

            </li>
        </div><!-- // searchbar wrapper -->
    </nav>

    <div id='map'></div>
    <script type='text/javascript' src='js/autocomplete.js'></script>
    <script type='text/javascript' src='js/geocoders.js'></script>
    <script type='text/javascript' src='js/polyfill.js'></script>
    <script type='text/javascript' src='js/ie10-viewport-bug-workaround.js'></script>
    <script type='text/javascript' src='js/bootstrap-native-v4.js'></script>
    <script type='text/javascript' src='js/leaflet-1.3.1.js'></script>
    <script type='text/javascript' src='js/leaflet-ant-path.js'></script>
    <script type='text/javascript' src='js/polyline.js'></script>
    <script type='text/javascript' src='js/flexi-polyline.js'></script>
    <script type='text/javascript' src='js/svgxuse.js' defer></script>
    <script type='text/javascript' src='js/utils.js'></script>
    <script type='text/javascript' src='js/articulate.js'></script>
    <script type='text/javascript' src='js/main.js'></script>

    
  </body>
</html>