<!DOCTYPE html>
<html lang='en' class='notranslate' translate='no'>
    <head>
      <meta name='google' content='notranslate' />
      <meta charset='UTF-8'>
      <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no' />
      <meta name="author" content="Charmaine Chui" />
      <meta name="description" content="A GIS web application to showcase transportating routing in Singapore.">
      <meta name="subject" content="Transportation Routing in Singapore" />
      <meta name="keywords" content="data analytics, geospatial analytics, gis, route optimisation, transportation api, web application, programmer" />
      <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />  
      <meta http-equiv='Content-Language' content='en' />
      <link rel='shortcut icon' href='img/favicon.ico'>
      <meta name='msapplication-TileColor' content='#ffffff' />
      <meta name='theme-color' content='#ffffff' />
      <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
      <meta name='apple-mobile-web-app-capable' content='yes' />
      <meta name='mobile-web-app-capable' content='yes' />
      <meta name='HandheldFriendly' content='True' />
      <meta name='MobileOptimized' content='320' />  
      <meta http-equiv='Content-Security-Policy' content='upgrade-insecure-requests' /> 
      <link href='css/bootstrap-4.5.2.min.css' rel='stylesheet' type='text/css' />
      <link href='css/offcanvas.css' rel='stylesheet' type='text/css' />
      <link rel="stylesheet" href="css/leaflet-1.3.1.css" />
      <link rel="stylesheet" href="css/custom.css" />
      <title>SG Transportation Routing</title>
      <noscript>You need to enable JavaScript to run this app.</noscript> 
  </head>
  <body>
    <button id='loaderSignal' class='btn btn-sm btn-default p-0' disabled><span class='spinner-border spinner-border-sm m-1'></span><small>Loading..</small></button>
    <nav id='searchbar'>
      <div style="height: -webkit-fill-available;">
        <div id='navbarTop'>
          <table>
            <tr>
              <td colspan='2' class='text-right'>
                <button id='cancelSearchBarBtn' type='button' class='btn btn-sm btn-light border-danger text-danger rounded-circle'><small class='unicode'>❌</small></button>
              </td>
            </tr>
            <tr>
              <td class='text-center'>
                <a class='navbar-brand'></a>
              </td>
              <td>
             <!--    <div class='form-check-inline small'>
                    <label class='form-check-label mr-1 ml-0 text-dark unicode'>ᴛʀᴀɴsᴘᴏʀᴛ&nbsp;ᴍᴏᴅᴇ&nbsp;</label>

                    <input type='radio' class='form-check-input routeType' name='routeType' value="0" checked /><label class='form-check-label mr-2 ml-0'>🚗</label>

                    <input type='radio' class='form-check-input routeType' name='routeType' value="1" /><label class='form-check-label mr-2 ml-0'>👣</label>
                    
                    <input type="radio" class="form-check-input routeType" name='routeType' value="2" /><label class="form-check-label mr-2 ml-0">🚲</label>
                </div> -->


                <div class="form-check-inline small">
                  <label class='form-check-label mr-1 ml-0 text-dark unicode'>ᴛʀᴀɴsᴘᴏʀᴛ&nbsp;ᴍᴏᴅᴇ&nbsp;</label>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input routeType" id="routeType0" name="routeType" value="0" checked />
                    <label class="custom-control-label unicode" for="routeType0">🚗</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input routeType" id="routeType1" name="routeType" value="1" />
                    <label class="custom-control-label unicode" for="routeType1">👣</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input routeType" id="routeType2" name="routeType" value="2" />
                    <label class="custom-control-label unicode" for="routeType2">🚲</label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class='text-center'>
                <small><span class='unicode'>sɢᴿᵒᵘᵗᵉʳ</span></small>
              </td>
              <td>
                <!-- <div class="form-check-inline small">
                  <label class="form-check-label mr-1 ml-0 text-dark unicode">ʀᴏᴜᴛᴇ&nbsp;sᴇʀᴠɪᴄᴇ&nbsp;</label>

                  <input type="radio" class="form-check-input serviceProvider" name="serviceProvider" value="OneMap" checked /><label class="form-check-label mr-2 ml-0">&nbsp;<svg class='selection-side-icon icon icon-onemap'><use xlink:href='symbol-defs.svg#icon-onemap'></use></svg></label>
                  
                  <input type="radio" class="form-check-input serviceProvider" name="serviceProvider" value="Graphhopper" /><label class="form-check-label mr-2 ml-0">&nbsp;<svg class='selection-side-icon icon icon-graphhoper'><use xlink:href='symbol-defs.svg#icon-graphhoper'></use></svg></label>
                  
                  <input type="radio" class="form-check-input serviceProvider" name="serviceProvider" value="HERE" /><label class="form-check-label mr-2 ml-0">&nbsp;<svg class='selection-side-icon icon icon-here'><use xlink:href='symbol-defs.svg#icon-here'></use></svg></label>
                </div> -->
                <div class="form-check-inline small">
                  <label class='form-check-label mr-1 ml-0 text-dark unicode'>ʀᴏᴜᴛᴇ&nbsp;sᴇʀᴠɪᴄᴇ&nbsp;</label>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input serviceProvider" id="serviceProvider0" name="serviceProvider" value="OneMap" checked />
                    <label class="custom-control-label unicode" for="serviceProvider0"><svg class='selection-side-icon icon icon-onemap'><use xlink:href='symbol-defs.svg#icon-onemap'></use></svg></label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input serviceProvider" id="serviceProvider1" name="serviceProvider" value="Graphhopper" />
                    <label class="custom-control-label unicode" for="serviceProvider1"><svg class='selection-side-icon icon icon-graphhoper'><use xlink:href='symbol-defs.svg#icon-graphhoper'></use></svg></label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input serviceProvider" id="serviceProvider2" name="serviceProvider" value="HERE" />
                    <label class="custom-control-label unicode" for="serviceProvider2"><svg class='selection-side-icon icon icon-here'><use xlink:href='symbol-defs.svg#icon-here'></use></svg></label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan='2' class='text-center'>
                <form onsubmit='return!1' class='pure-form'>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text rounded-0"><img src='img/origin.png' alt='origin marker' style='height: 1rem' /></span>
                        </div>
                        <input id='geocoder_o' type='text' class='form-control rounded-0' name='geocoder_o' placeholder='Search Origin...' />
                    </div>
                </form>
              
                <strong id='switch_origin_destination' class='btn btn-sm btn-outline-light pt-1 pb-1 pr-2 pl-2 rounded-circle text-dark border-secondary m-1'><small>&nbsp;⇵&nbsp;</small></strong>

                <form onsubmit='return!1' class='pure-form'>
                   <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><img src='img/destination.png' alt='destination marker' style='height: 1rem' /></span>
                      </div>
                      <input id='geocoder_d' type='text' class='form-control rounded-0' name='geocoder_d' placeholder='Search Destination...' />
                  </div>
                </form>

              </td>
            </tr>
          </table>
        </div>
        <div id='navbarToggler'>
          <ul class='navbar-nav me-auto'>
            
            <li class='nav-item pl-1 pr-1 pb-2 pt-2'>
              <table class='small w-100'>
                <tr>
                  <td class='pl-0 pr-2'>
                    <button id='resetMapBtn' class='btn btn-sm btn-danger w-100 p-1 rounded-0 text-center'><small class='small'>⟲ <span class='unicode'>ʀᴇsᴇᴛ</span></small></button>
                  </td>
                  <td class='pl-0 pr-0'>
                    <button id='previewGeojsonBtn' type='button' class='btn btn-sm btn-info w-100 p-1 rounded-0 text-center' data-toggle='popover' data-title='❮⁄❯ Preview GeoJSON' data-dismissible='true' data-placement='right' data-content='<div id="geojson"></div>'>
                      <small class='small'>❮⁄❯ <span class='unicode'>ᴘʀᴇᴠɪᴇᴡ ɢᴇᴏᴊsᴏɴ [📖]</span> </small>
                    </button>
                  </td>
                  <td class='pl-0 pr-0 text-center'>▷</td>
                  <td class='pl-0 pr-0'>
                    <button id="exportBtn" class="btn btn-sm btn-primary p-1 rounded-0 text-center"><small class='small'>💾 <span class='unicode'>sᴀᴠᴇ ᴅᴀᴛᴀ</span></small></button>
                  </td>
                </tr>
                <tr>
                  <td colspan='4'>
                    <hr class='border-0'>
                    <strong class='small'>📍&nbsp;&nbsp;&nbsp;<b>Route Options</b></strong>
                    <div id='route_options' class='small'></div>
                  </td>
                </tr>
                <tr>
                  <td colspan='4'>
                    <hr class='border-0'>
                    <div id='route_info' class='small'></div>
                  </td>
                </tr>
                <tr>
                  <td colspan='4'>
                    <hr>
                    <button id="speakBtn" class="btn btn-sm btn-outline-light pr-2 pl-2 rounded-circle border-secondary"><small>🔊</small></button> <span><small class='small pr-1'>◁ select to read aloud</small></span> <button id='route_instructions_btn' type='button' class='btn btn-sm btn-info p-1 rounded-0 text-left' data-toggle="popover" data-title="ℹ Route Instructions" data-dismissible="true" data-placement="right" data-content="<div id='route_instructions' class='small'></div>"><small class='small'>ℹ <span class='unicode'>ɪɴsᴛʀᴜᴄᴛɪᴏɴs [📖]</span> </small></button>
                  </td>
                </tr>
                <tr>
                  <td colspan='4'>
                    <div id='route_instructions_hidden'></div>
                    <hr class='border-0'>
                    <div id="routeIntructionsCarousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-touch="true"></div>
                  </td>
                </tr>
              </table>
            </li>
            <li class='nav-item pl-1 pr-1 pb-2 pt-2'>
               <button type='button' class='btn btn-sm btn-warning p-1 rounded-0 text-left' data-toggle="popover" data-title="🏅 Credits & Attributions" data-dismissible="true" data-placement="right" data-content="
                    <small class='text-muted'>
                      <dl>
                        <dt>❶ Routing APIs</dt>
                        <dd class='pl-3'>
                          <svg class='selection-side-icon icon icon-onemap'><use xlink:href='symbol-defs.svg#icon-onemap'></use></svg> <a href='https://www.onemap.gov.sg/docs/#onemap-rest-apis' target='_blank'>OneMap Rest APIs</a>, by <a href='http://SLA.gov.sg' target='_blank'><abbr title='Singapore Land Authority'>SLA</abbr></a>
                        </dd>
                        <dd class='pl-3'>
                          <svg class='selection-side-icon icon icon-graphhoper'><use xlink:href='symbol-defs.svg#icon-graphhoper'></use></svg> <a href='https://graphhopper.com/maps/' target='_blank'>The Graphhopper Directions API</a>
                        </dd>
                        <dd class='pl-3'>
                          <svg class='selection-side-icon icon icon-here'><use xlink:href='symbol-defs.svg#icon-here'></use></svg> <a href='https://www.here.com/platform/routing' target='_blank'>HERE Routing API</a>
                        </dd>

                        <dt>❷ Geocoding APIs</dt>
                        <dd class='pl-3'>
                          <svg class='selection-side-icon icon icon-opencage'><use xlink:href='symbol-defs.svg#icon-opencage'></use></svg> <a href='https://opencagedata.com/credits' target='_blank'>OpenCage Geocoding API</a>
                        </dd>
                        <dd class='pl-3'>
                           <svg class='selection-side-icon icon icon-onemap'><use xlink:href='symbol-defs.svg#icon-onemap'></use></svg> <a href='https://www.onemap.gov.sg/docs/#onemap-rest-apis' target='_blank'>OneMap Rest APIs</a>, by <a href='http://SLA.gov.sg' target='_blank'><abbr title='Singapore Land Authority'>SLA</abbr></a>
                        </dd>

                        <dt>❸ JavaScript Map Plugin</dt>
                        <dd class='pl-3'>
                          <svg class='selection-side-icon icon icon-leaflet'><use xlink:href='symbol-defs.svg#icon-leaflet'></use></svg> Powered by <a href='https://leafletjs.com/SlavaUkraini/reference.html' target='_blank'> Leaflet</a>
                        </dd>

                        <dt>❹ Basemap</dt>
                        <dd class='pl-3'>
                          🗺 <a href='https://carto.com/attributions' target='_blank'> CARTO</a>, by <a href='http://www.openstreetmap.org/copyright' target='_blank'>OpenStreetMap</a>
                        </dd>
                      </dl>
                    </small>"
                  ><small class='small'>🏅 <span class='unicode'>ᴄʀᴇᴅɪᴛs & ᴀᴛᴛʀɪᴃᴜᴛɪᴏɴs [📖]</span> </small></button><span><small class='small pl-1'><small>◁ select to view popup</small></small></span>
            </li>
          </ul>
          
        </div><!-- navbarToggler -->
      </div> <!--  container-fluid -->
    </nav>
    <div id='map'></div>
    <script type='text/javascript' src='js/autocomplete.js'></script>
    <script type='text/javascript' src='js/geocoders.js'></script>
    <script type='text/javascript' src='js/polyfill.js'></script>
    <script type='text/javascript' src='js/ie10-viewport-bug-workaround.js'></script>
    <script type='text/javascript' src='js/bootstrap-native-v4.js'></script>
    <script type='text/javascript' src='js/leaflet-1.3.1.js'></script>
    <script type='text/javascript' src='js/leaflet-ant-path.js'></script>
    <script type='text/javascript' src='js/polyline.js'></script>
    <script type='text/javascript' src='js/flexi-polyline.js'></script>
    <script type='text/javascript' src='js/svgxuse.js' defer></script>
    <script type='text/javascript' src='js/utils.js'></script>
    <script type='text/javascript' src='js/articulate.js'></script>
    <script type='text/javascript' src='js/initLeafletMap.js'></script>
    <script type='text/javascript' src='js/main.js'></script>
  </body>
</html>