html,body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}
.autocomplete-suggestions {
    font-family: inherit;
    font-size: .875rem;
    text-align: left;
    cursor: pointer;
    border: none;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.autocomplete-suggestion {
  position: relative;
  padding: .6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  font-family: inherit;
  font-size: x-small;
  color: #333
}

.autocomplete-suggestion b {
  font-weight: 400;
  color: #1f8dd6
}

.autocomplete-suggestion.selected {
  background: #f0f0f0
}

.pure-form {
  background: 0 0;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ------------------------------------------------- */
#map {
  height: 100vh;
  width: 100vw;
  background: transparent;
  /*transition: width .3s ease-in-out;*/

  position: absolute;
  z-index: 1000;

  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
}

#sidebar-wrapper {
  overflow-y: auto;
  overflow-x: clip;
}

#searchbar {
  height: calc(100vh - 100px);
  flex-direction: column;
  transition: all .3s ease-in-out;
  display: flex;

  position:absolute;
  z-index: 1005;

  left:0;
  bottom:0;
  transform: translateY(calc(50vh - 50px));

  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(12px);

  box-shadow: 1px 0 rgb(0 0 0 / 15%);
  width:320px;
  max-width: 320px;
  overflow:hidden;
}

#searchbar.expand {
  position: absolute;
  z-index: 1005;

  left:0;
  bottom: calc(50vh - 50px);
  transform: translateY(calc(50vh - 50px));
}

.navbar-brand {
  background-image: url("../img/logo.png");
  background-color: #ffffff;
  height: 1.875rem;
  width: 1.875rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* ------------------------------------------------- */

li.nav-item.pl-1.pr-1 {
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.1);
  color: #000;
  display: flex;
  padding: 0.15rem;
  padding-right: 0;
  text-decoration: none;
}
li.nav-item.pl-1.pr-1:last-child {
  border-bottom-color: transparent;
}

#geocoder_o, #geocoder_d {
  font-size: .875rem;
  border-left: none;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  color:#444444;
}
#switch_origin_destination {
  cursor: pointer;
  color: #2e2e2e;
  vertical-align: -webkit-baseline-middle;
}

.leaflet-right .leaflet-control {
    margin-right: 0;
}
div.command.leaflet-control {
  margin-top: 0;
}
div.leaflet-control-layers.leaflet-control.leaflet-control-layers-expanded {
  width: 30vw;
  opacity: 0.925;
  margin-top: 0.65px;
  border-radius: 0;
  border: none;
  height: calc(100vh - 48px);
  background: #f8f9fa;
  padding-right: 0;
  padding-left: 2px;
  font-size: smaller;
}
.selection-side-icon {
  height: 15px;
}
div.card-body.tab-content {
  padding: 0.55rem;
}

button.btn.btn-outline-primary.rounded-pill.serviceProvider.active,
button.btn.btn-outline-primary.rounded-pill.serviceProvider:hover,
button.btn.btn-outline-primary.rounded-pill.routeType.active,
button.btn.btn-outline-primary.rounded-pill.routeType:hover {
  background:rgb(235 252 255 / 95%);
  color:#007bff;
}

#route_instructions {
  overflow-x: hidden;
  overflow-y: auto;
  height:35vh;
  font-size: smaller;
}
hr {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
pre {
  padding: 2.5px;
  margin: 5px;
}

#loaderSignal {
  width: 100vw;
  position: absolute;
  z-index: 5000;
  left: auto;
  right: auto;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

#loaderSignal small {
  display: contents;
}

.leaflet-left .leaflet-control {
    margin-left: 0;
}

.leaflet-touch .leaflet-bar a:first-child, 
.leaflet-touch .leaflet-bar a:last-child {
  border-radius: 50%;
  margin: 2px;
  box-shadow: rgb(3 102 214 / 30%) 0px 0px 0px 2px;
}

.leaflet-touch .leaflet-bar a:first-child {
  margin-top:0;
  margin-bottom:2px;
}
.leaflet-touch .leaflet-bar a:last-child {
  margin-top:2px;
  margin-bottom:0;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none;
}

label.form-check-label.mr-2.ml-0 {
  font-family: emoji;
  font-size: 11.5px;
}

.unicode {
  font-family:Cambria;
}
.symbol {
  font-family:Segoe UI Symbol;
}
.emoji {
  font-family:Segoe UI Emoji;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 3px;
  height: 3px;
  padding: 1.5px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: currentColor;
  background-clip: padding-box;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-caption {
  position: absolute;
  right: 4.5%;    
  bottom: 20px;
  left: 4.5%;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: currentColor;
  text-align: center;
}

.carousel-control-next, 
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 2.5%;
  color: inherit;
  text-align: center;
  opacity: .75;
  transition: opacity .15s ease;
}

#route_instructions_hidden {
  display:none;
}

.carousel-item h1 {
  opacity: 0.45;
  user-select:none;
}

.carousel-item kbd {
  padding: 0.1rem 0.2rem;
}

/*.input-group-prepend {
  margin-right: -1px - 0.125rem;
}*/

form.pure-form div.input-group div.input-group-prepend span.input-group-text {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid transparent;
}

.carousel-inner {
  display:contents;
}

.user-select-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-no-break-space {
  white-space: nowrap;
}